
*
{
	margin: 0px;
	padding: 0px;

}
body
{
	
	background-color: lightblue;
	margin: 100px;
	padding: 100px;
	

}
.fs16
{
font-size: 16px;
}
.mdiv {
    background-color: white;
    padding: 32px;
}
table, tr, td {
    border: 1px solid;
    width: -webkit-fill-available;
    text-align: left;
}
thead, th {
    background-color: lightgray;
}
table
		{
			    border-collapse: collapse;
    			
    			margin-top: 22px;
		}
.div4
{
	text-align: right;
	margin-top: 10px;
}
.div1
		{
			
			padding-bottom: 20px;


		}
		.div1 > .sdiv1
		{
			float: left;
			width: 50%;
			text-align: right;
		}
.div1 > h1
{
	float: left;
	width: 50%;
	color:red;
}

/*.From,.To{
	width: 20%;
}
.Desc
{
	width: 59%;
	text-align: justify;
	
}*/


.div2 ul{
	
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	border-bottom: 1px solid #ccc;
}
.div2 ul li{
	display: inline-block;
	width:30%;
	margin-right: 20px;
	vertical-align: top; 
	text-align: justify;
}
/*.div2 > ul > li
{
	display: inline-block;

}*/

h4{
	font-weight: bold;
}
.fs16,h5,p,td
{
	color: grey;
}
.clear
{
	clear: both;
}