
*
{
	margin: 0px;
	padding: 0px;

}
body
{
	/*height: 50%;*/
	/*background-position: 50px;*/
	background-color: lightblue;
	margin: 100px;
	padding: 100px;
	/*border-style: groove;*/

}
.fs16
{
font-size: 16px;
}
.mdiv {
    background-color: white;
    padding: 32px;
}
table, tr, td {
    border: 1px solid;
    width: -webkit-fill-available;
    text-align: left;
}
thead, th {
    background-color: lightgray;
}
table
		{
			    border-collapse: collapse;
    			/* padding-top: 10px; */
    			margin-top: 22px;
		}
#Total
		{
			/*text-align: right;*/

		}
.div4
{
	text-align: right;
	margin-top: 10px;
}
.div1
		{
			/*width: 300px;*/
			/*height: 500px;*/
			/*border-bottom: 1px solid;*/
			padding-bottom: 20px;


		}
		.div1 > .sdiv1
		{
			float: left;
			width: 50%;
			text-align: right;
		}
.div1 > h1
{
	float: left;
	width: 50%;
}
.From,.To,.Desc
{
	float: left;


}
.From,.To{
	width: 20%;
}
.Desc
{
	width: 60%;
	text-align: justify;
	
}
.div2
{
	border-bottom: 1px solid;
	padding-bottom: 150px;
}

h4{
	font-weight: bold;
}
.fs16,h5,p,td
{
	color: grey;
}
.clear
{
	clear: both;
}